<h2>Login</h2>

<div class="box-section">
<form action="/auth/login" method="POST" id="form-container">
<div class="form-line">
  <label for="email-imput">email</label>
  <input id="email-input" type="email" name="username" placeholder="e.g., padre@espiritusanto.com">
</div>
<div class="form-line">
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
</div>
<div class="form-line">
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
</div>

<input type="submit" class="btn update" value="Login">

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
</div>
