<h2>Favorites</h2>
<ul>
  {{#each favorites}}
  <p>{{this.product.title}}</p>
  <a href="/product/{{this.product._id}}">view Product</a>
  <img src="{{this.product.imgPath}}" alt="">
  <form action="/favorite/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
  {{/each}}
</ul>

