<h2>Favorites</h2>
<ul>
  {{#each favorites}}
  <p>{{this._id}}</p>
  <a href="/product/{{this.product}}">view Product</a>
  <form action="/favorite/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>  

  {{/each}}
</ul>

