<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

{{{body}}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC89tGpydOEjhmdwbhjvxt-V_5RPx_PYnI"></script>
<script src="/javascripts/main.js"></script>
<script src='/javascripts/script.js'></script>
</body>
</html>
