<form action="/profilePhoto" method="POST" enctype="multipart/form-data">
  <div>
    <label for="profilePhoto">Upload my profile photo:</label>
    <input type="file" name="profilePhoto">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload">
  </div>
</form>


<form action="/profile" method="POST" enctype="multipart/form-data">
  <div>
    <label for="productTitle">Product title:</label>
    <input type="text" name="productTitle">
  </div>
  <div>
    <label for="productDescription">Description:</label>
    <input type="text" name="productDescription">
  </div>
  <div>
    <label for="productPrice">Price:</label>
    <input type="text" name="productPrice">
  </div>
  <div>
    <label for="productPhoto">Photo:</label>
    <input type="file" name="productPhoto">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload product">
  </div>
</form>


<h3>Pendientes</h3>
<ul>
<li></li>
</ul>