<form action="/profile" method="POST" enctype="multipart/form-data">
<h3>New Product</h3>
  <div>
    <label for="productTitle">Product title:</label>
    <input type="text" name="productTitle">
  </div>
  <div>
    <label for="productDescription">Description:</label>
    <input type="text" name="productDescription">
  </div>
  <div>
    <label for="productPrice">Price:</label>
    <input type="text" name="productPrice">
  </div>
  <div>
    <label for="productPhoto">Photo:</label>
    <input type="file" name="productPhoto">
  </div>
  <div>
    <label>Address</label>
    <input type="text" name="latitude" placeholder="Latitude">
    <input type="text" name="longitude" placeholder="Longitude">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload product">
  </div>
</form>




<form action="/profilePhoto" method="POST" enctype="multipart/form-data">
  <h3>Upload my profile photo</h3>
  <div>
    <input type="file" name="profilePhoto">
  </div>
  <div>
    <input type="submit" class="btn" value="Upload">
  </div>
</form>