<form action="/profile" method="POST">
  <div>
    <label for="productTitle">Product title:</label>
    <input type="text" name="productTitle">
  </div>
  <div>
    <label for="productDescription">Description:</label>
    <input type="text" name="productDescription">
  </div>
  <div>
    <label for="productPrice">Price:</label>
    <input type="text" name="productPrice">
  </div>
 {{!--  <div>
    <label for="productPhoto">Photo:</label>
    <input type="file" name="productPhoto">
  </div> --}}
  <div>
    <input type="submit" value="Upload product">
  </div>
</form>
