@charset "UTF-8";
body {
  padding: 50px 50px 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #212529;
  background-color: #f8f9fa; }

h1, h2, h3, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  word-spacing: -0.15rem;
  line-height: 2.5rem; }

.product-item h4 {
  font-size: 1.15rem;
  letter-spacing: -0.02rem;
  word-spacing: -0.15rem; }

header {
  display: flex;
  flex-wrap: wrap; }

header img {
  width: 100px;
  height: 100px;
  object-fit: contain; }

h1 {
  margin-top: 1.4rem;
  margin-left: 1rem;
  color: #13c1ac; }

h2,
nav li a {
  color: #253238; }

a {
  color: #00B7FF; }

.product-item h3 {
  color: #253238; }

.product-item p {
  color: #607D8B; }

a:hover,
.product-item {
  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line; }

.product-item {
  position: relative; }

.product-item:hover {
  top: -2px;
  box-shadow: 0px 3px 5px rgba(37, 50, 56, 0.1); }

nav {
  margin-bottom: 4rem;
  margin-top: 1rem; }

nav ul {
  padding: 0; }

nav li {
  display: inline;
  margin-right: 2rem; }

nav li a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none; }

nav li a:hover {
  color: #00B7FF; }

nav .last-li {
  padding-left: 1rem; }

nav .last-li p {
  display: inline; }

/* All product list */
.all-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(236, 239, 241, 0.6);
  padding: 1rem 0; }

.all-list-wrapper a h3,
.all-list-wrapper a h4,
.all-list-wrapper a p {
  margin-left: 10%; }

.product-item {
  width: 22%;
  background-color: #FAF9F8;
  margin-bottom: 1rem; }

.product-item:hover {
  text-decoration: none;
  background-color: #fff; }

.product-item img {
  width: 80%;
  margin: 10% 0 10% 10%; }

.m-l-10 {
  margin: 10% 0 10% 10%; }

.product-box {
  padding: 3rem 0 4rem; }

.product-box img {
  width: 60%;
  height: 400px;
  object-fit: contain; }

.product-box a {
  display: block; }

.product-box h4::after,
.price::after {
  content: " €"; }

.col-right {
  width: 40%; }

.form-line {
  margin-bottom: 0.7rem; }

.form-line label {
  width: 12vw; }

.btn {
  width: 80%;
  padding: 0.6rem 1.2rem;
  margin: 1rem 0 2rem;
  background-color: gray;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem; }

.green {
  background-color: #13c1ac; }

.green:hover {
  color: #fff; }

.edit {
  width: auto;
  background-color: darkslategray; }

.edit:hover {
  color: #fff; }

.delete {
  width: auto;
  background-color: darkred; }

.delete:hover {
  color: #fff; }

.update {
  width: auto;
  background-color: royalblue; }

.update:hover {
  color: #fff; }

.add-fav  {
  margin-bottom: 2rem; }

#map {
  display: block;
  width: 100%;
  height: 50vh;
  border-radius: 5px solid; }

#filter-link {
  visibility: hidden; }

.filter-box {
  display: flex;
  justify-content: space-between; }

.filter {
  margin-bottom: 2rem;
  color: #fff;
  padding: 0.5rem 1.2rem; }

.visible {
  visibility: visible !important; }

footer {
  margin: 3rem 0 0;
  padding: 2rem 3rem;
  background-color: #253238;
  color: #AEAEAE; }

.box-section {
  border-bottom: 1px dotted lightgray;
  margin: 1rem 0; }

@media (max-width: 700px) {
  .product-item {
    width: 32%; }
  .product-box img {
    width: 100%; }
  .col-right {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */