body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #212529;
  background-color: #f8f9fa;
}

h1, h2, h3, p, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { color: #13c1ac; }
h2,
nav li a { color: #253238; }
a { color: #00B7FF; }
.all-list-wrapper a h3 { color: #253238; }
.all-list-wrapper a p { color: #607D8B; }

a:hover,
.all-list-wrapper a {
  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}
.all-list-wrapper a { position: relative; }
.all-list-wrapper a:hover { top: -10px; box-shadow: 0px 6px 3px rgba(37,50,56,.1); }

nav { margin-bottom: 4rem; }
nav ul { padding: 0; }
nav li { display: inline; margin-right: 2rem; }
nav li a { text-transform: uppercase; font-weight: bold; text-decoration: none; }
nav li a:hover { color: #00B7FF; }
nav .last-li { padding-left: 1rem; }
nav .last-li p { display: inline; }

/* All product list */
.all-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:rgba(236,239,241,.6);
  padding: 1rem 0;
}
.all-list-wrapper a h3,
.all-list-wrapper a p {
  margin-left: 10%;
}

.product-item {
  width: 22%;
  background-color: white;
}

.product-item img { width: 80%; margin: 10% 0 10% 10%; }

.btn {
  padding: 1rem 2rem;
  margin: 1rem 0 2rem;
  background-color: gray;
  color: beige;
  cursor: pointer;
}

#map {
  display: block;
  width: 100%;
  height: 50vh;
}

#filter-link { visibility: hidden; }
.filter { margin-bottom: 2rem; background-color: #253238; }

.visible {
  visibility: visible!important;
}



@media (max-width: 700px) {

  .product-item {
    width: 32%;
  }

}